*.suo
ClinicaFrba/ClinicaFrba.v11.suo
ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.csproj.FileListAbsolute.txt
ClinicaFrba/ClinicaFrba/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ClinicaFrba/ClinicaFrba.v11.suo
ClinicaFrba/ClinicaFrba.v11.suo
ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.csproj.FileListAbsolute.txt
ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.exe
*.exe
*.pdb
*.suo
*.exe
ClinicaFrba/ClinicaFrba/bin/Debug/ClinicaFrba.pdb
*.Cache
ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.exe
*.pdb
ClinicaFrba/ClinicaFrba.v11.suo
*.exe
ClinicaFrba/ClinicaFrba/bin/Debug/ClinicaFrba.pdb
ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.csproj.FileListAbsolute.txt
*.Cache
ClinicaFrba/ClinicaFrba/obj/Debug/ClinicaFrba.pdb
*.cache